body{
	background-color: lightblue;
	color: black;
}
body p{
	color: black;
	text-align: center;	
	font-size: 110%;
	padding: 2px;	
}
body i{
	color:red;
}
body h3{
	text-align: center;
	font-family: Arial;
	padding: 10px;
}

body table{
	border-collapse: collapse;
	border-color: black;
	width: 100%

}
th,td{
	padding: 12px;
}
ul{
	font-family: Arial;
}
img{
	border-radius: 50%;
	border: solid black;
}
tr:hover{
	background-color: white;
	color: black;
}
i:hover{
	color:purple;
}
hr{
	border: solid black;
}


